<p id="notice"><%= notice %></p>

<h1>Dgrs</h1>

<table>
  <thead>
    <tr>
      <th>Dgr 1</th>
      <th>Dgr 3</th>
      <th>Dgr 5</th>
      <th>Dgr 10</th>
      <th>Mr inc</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dgrs.each do |dgr| %>
      <tr>
        <td><%= dgr.dgr_1 %></td>
        <td><%= dgr.dgr_3 %></td>
        <td><%= dgr.dgr_5 %></td>
        <td><%= dgr.dgr_10 %></td>
        <td><%= dgr.mr_inc %></td>
        <td><%= dgr.stock %></td>
        <td><%= link_to 'Show', dgr %></td>
        <td><%= link_to 'Edit', edit_dgr_path(dgr) %></td>
        <td><%= link_to 'Destroy', dgr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dgr', new_dgr_path %>
