<p id="notice"><%= notice %></p>

<p>
  <strong>Dgr 1:</strong>
  <%= @dgr.dgr_1 %>
</p>

<p>
  <strong>Dgr 3:</strong>
  <%= @dgr.dgr_3 %>
</p>

<p>
  <strong>Dgr 5:</strong>
  <%= @dgr.dgr_5 %>
</p>

<p>
  <strong>Dgr 10:</strong>
  <%= @dgr.dgr_10 %>
</p>

<p>
  <strong>Mr inc:</strong>
  <%= @dgr.mr_inc %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @dgr.stock %>
</p>

<%= link_to 'Edit', edit_dgr_path(@dgr) %> |
<%= link_to 'Back', dgrs_path %>
