<div id="filterrific_results">

  <div class="row">
    <div class="col">
      <p class="text-right"><%= page_entries_info stocks %></p>
    </div>
  </div>

    <div class="row">
        <div class="col">
          <p class="text-center font-weight-bold">Ticker</p>
        </div>
        <div class="col-md-2">
          <p class="text-center font-weight-bold">Company</p>
        </div>
        <div class="col d-none d-xl-block">
          <p class="text-center font-weight-bold">Sector</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Industry</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold" >Dividend Yield %</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Change in dividend yield % since yesterday">Change %</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Dividend growth ratio for 10 years - median">DGR %</p>
        </div>
        <div class="col d-none d-xl-block">
          <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Most recent dividend increase information">MR Inc %</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Dividend payout ratio for the last year">DPR %</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Experimental">IM Index</p>
        </div>
    </div>

  <% cache(@stocks) do %>

  <% @stocks.each do |stock| %>
      <% if stock.last_dividend_yield > 0 and stock.dgr.present? %>
          <br>

      <div class="row">

        <div class="col">
          <p class="text-center font-weight-bold"><%= link_to stock.symbol, "https://www.morningstar.com/stocks/XNYS/" + stock.symbol + "/quote.html", target: :_blank %></p>
        </div>

        <div class="col-md-2 font-weight-bold">
            <%= stock.company_name %>
        </div>

        <div class="col d-none d-xl-block">
            <p class="text-center"><%= stock.sector %></p>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.industry %></p>
        </div>

        <div class="col">
            <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Dividend yield %"><%= stock.last_dividend_yield %></p>
        </div>

        <div class="col">
            <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Change in dividend yield % since yesterday">
            <% if stock.dividend_change_percentage == 0 %>
            <% elsif stock.dividend_change_percentage > 0 %>
                <font color="green">&uArr;
            <% else %>
                <font color="red">&dArr;
            <% end %>
            <%= stock.dividend_change_percentage.abs %>
          </p>

                </font>
        </div>

        <% if stock.dgr.present? %>

          <div class="col">
            <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Dividend growth ratio 10-yr median %"><%= stock.dgr_median %></p>
          </div>
          <div class="col d-none d-xl-block">
            <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Most recent dividend increase %"><%= stock.dgr.mr_inc %></p>
          </div>

        <% end %>

        <div class="col">
            <p class="text-center font-weight-bold" data-toggle="tooltip" data-placement="top" title="Dividend payout ratio %">
            <% if stock.dividend_payout_ratio == 0 %>
            <% elsif stock.dividend_payout_ratio < 60 %>
                <font color="green">
            <% else %>
                <font color="red">
            <% end %>
            <%= stock.dividend_payout_ratio %>
          </p>

                </font>
        </div>
        <% if stock.dgr.present? %>

          <div class="col">
            <p class="text-center font-weight-bold"><%= stock.im_index %></p>
          </div>
        
        <% end %>

        </div>

      <% end %>

    <% end %>
<% end %>
    <div class="apple_pagination">
  <%= will_paginate stocks, :container => false%>
</div>
</div>