<p id="notice"><%= notice %></p>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag ("/assets/IM.png"), class: "img-responsive", width: "30", height: "30"%>
    InvestingMaths
  </a>
</nav>
<br>
<div class="container-fluid">

    <div class="row">

        <div class="col">
          <p class="text-center font-weight-bold">Symbol</p>
        </div>
        <div class="col-md-2">
          <p class="text-center font-weight-bold">Company</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Sector</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Industry</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Dividend Yield</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Change</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DGR 1-yr</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DGR 3-yr</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DGR 5-yr</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DGR 10-yr</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">MR% Inc</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">IM Index</p>
        </div>
    </div>

<% cache(@stocks) do %>
  <% @stocks.each do |stock| %>
      <% if stock.last_dividend_yield > 3 %>
          <br>

      <div class="row">

        <div class="col">
          <p class="text-center">
             <%= image_tag("logos/#{stock.symbol}.png") %>
            </p>
          <p class="text-center"><%= link_to stock.symbol, stock %></p>
        </div>

        <div class="col-md-2">
            <%= stock.company_name %>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.sector %></p>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.industry %></p>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.last_dividend_yield %></p>
        </div>

        <div class="col">
            <p class="text-center">
            <% if stock.dividend_change_percentage == 0 %>
            <% elsif stock.dividend_change_percentage > 0 %>
                <font color="green">&uArr;
            <% else %>
                <font color="red">&dArr;
            <% end %>
            <%= stock.dividend_change_percentage.abs %> %
          </p>

                </font>
        </div>

        <% if stock.dgr.present? %>

          <div class="col">
            <p class="text-center"><%= stock.dgr.dgr_1 %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.dgr.dgr_3 %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.dgr.dgr_5 %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.dgr.dgr_10 %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.dgr.mr_inc %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.im_index %></p>
          </div>

        <% end %>

        </div>

      <% end %>

    <% end %>
<% end %>
<br>

</div>