<p id="notice"><%= notice %></p>

<div class="container-fluid">

    <div class="row">

        <div class="col">
          <p class="text-center font-weight-bold">Symbol</p>
        </div>
        <div class="col-md-2">
          <p class="text-center font-weight-bold">Company</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Sector</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Industry</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Dividend Yield</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">Change</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DGR 10yr median</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">MR% Inc</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">DPR</p>
        </div>
        <div class="col">
          <p class="text-center font-weight-bold">IM Index</p>
        </div>
    </div>

<% cache(@stocks) do %>
  <% @stocks.each do |stock| %>
      <% if stock.last_dividend_yield > 1 %>
          <br>

      <div class="row">

        <div class="col">
          <p class="text-center"><%= link_to stock.symbol, "https://www.morningstar.com/stocks/XNYS/" + stock.symbol + "/quote.html", target: :_blank %></p>
        </div>

        <div class="col-md-2">
            <%= stock.company_name %>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.sector %></p>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.industry %></p>
        </div>

        <div class="col">
            <p class="text-center"><%= stock.last_dividend_yield %></p>
        </div>

        <div class="col">
            <p class="text-center">
            <% if stock.dividend_change_percentage == 0 %>
            <% elsif stock.dividend_change_percentage > 0 %>
                <font color="green">&uArr;
            <% else %>
                <font color="red">&dArr;
            <% end %>
            <%= stock.dividend_change_percentage.abs %> %
          </p>

                </font>
        </div>

        <% if stock.dgr.present? %>

          <div class="col">
            <p class="text-center"><%= stock.dgr_median %> %</p>
          </div>
          <div class="col">
            <p class="text-center"><%= stock.dgr.mr_inc %> %</p>
          </div>

        <% end %>

        <div class="col">
            <p class="text-center">
            <% if stock.dividend_payout_ratio == 0 %>
            <% elsif stock.dividend_payout_ratio < 60 %>
                <font color="green">
            <% else %>
                <font color="red">
            <% end %>
            <%= stock.dividend_payout_ratio %> %
          </p>

                </font>
        </div>
        <% if stock.dgr.present? %>

          <div class="col">
            <p class="text-center"><%= stock.im_index %></p>
          </div>
        
        <% end %>

        </div>

      <% end %>

    <% end %>
<% end %>
<br>

</div>