<p id="notice"><%= notice %></p>

<div class="container-fluid">

    <div class="row">
      <div class="col">
         <h3 class="text-center">U.S. Dividend Champions, Contenders and Challengers</p>
         </h3>
         <p class="text-center">Champion dividend stocks sustain 25 or more annual dividend increases; Contenders show 10-24; Challengers have 5-9</p>
      </div>
    </div>

    <p/>

    <div class="row">
      <div class="col">
        <%= form_for_filterrific @filterrific do |f| %>
          <div>
            Search
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.select(:by_sector, @filterrific.select_options[:by_sector], { include_blank: 'All' }, class: 'filterrific-periodically-observed') %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed'
            ) %>
              <%= render_filterrific_spinner %>

          </div>

          <%# add an automated spinner to your form when the list is refreshed %>
        <% end %>
      </div>
    </div>

    <%= render(
      partial: 'stocks/list',
      locals: { stocks: @stocks }
    ) %>

    <br>

</div>