<%= notice %>
<%= link_to 'Stocks', stocks_path %>

<p/>
<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @stock.company_name %>
</p>

<p>
  <strong>Stats:</strong>
  <% @stock.stats.each do |stat| %>

	  <p>Dividend yield: <%= stat.dividend_yield %></p>

  <% end %>



</p>

<% if policy(@stock).update? %>
    <%= link_to "Edit", edit_stock_path(@stock), method: :update, class: 'btn btn-danger' %>
<% end %>
