<%= form_with(model: stat, local: true) do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dividend_yield %>
    <%= form.text_field :dividend_yield %>
  </div>

  <div class="field">
    <%= form.label :current_price %>
    <%= form.text_field :current_price %>
  </div>

  <div class="field">
    <%= form.label :drip_years_count %>
    <%= form.number_field :drip_years_count %>
  </div>

  <div class="field">
    <%= form.label :stock_id %>
    <%= form.text_field :stock_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
